.cardContainer {
  /* background-image: url('../college.jpg'),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  /* url("IMAGE_URL") no-repeat left top, linear-gradient(#eb01a5, #d13531) */
  padding: '50px';
  height: '230px';
  width: '630px';
  box-shadow: '0 10px 20px -6px #000000';
  margin-top: '1rem';
}
